@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'noto';
  src: url('../public/Noto.otf');
}

html{
  scroll-behavior: smooth;
}
@layer base{

  html{
    @apply scroll-smooth;
  }
  .html{
    @apply scroll-smooth;
  }
  body{
    @apply bg-[#F2E2D2]/70 text-gray-700 tracking-wide font-noto font-semibold
  }
  h1, h2, h3, h4, h5, h6{
    @apply font-bold
  }
  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }
  h2{
    @apply text-3xl sm:text-4xl
  }
  li{
    @apply cursor-pointer
  }

  button{
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#84c0c6] to-[#9fb7b9]
  }
}

html,
body {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}








